
!/user_data/accounts/79538320570.session
!/user_data/accounts/session_name.session
!/user_data/accounts/session_name.session-journal
!/user_data/accounts/session_name_1.session
!/user_data/accounts/session_name_2.session
!/src/setting/config.ini
